
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url('../img/logo.png');
    
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.card {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    height: 100%;
}

.card i {
    color: #333;
}

.card h3 {
    margin-top: 10px;
    color: #333;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    color: #555;
}


h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #333;
    color: #fff;
    border-radius: 10%;
    width: calc(100%-20%);
}

hr{
    width: 1527px;

}

p{
    text-align: center;
    
}

